#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  transition: 0.3s; /* Add transition on hover */
  padding-top: 15px; /* 15px padding */
  padding-bottom: 15px; /* 15px padding */
  padding-left: 15px; /* 15px padding */
  text-decoration: none; /* Remove underline */
  font-size: 23px; /* Increase font size */
  font-family: 'RocknRoll One', sans-serif;
  color: white; /* White text color */
  border-radius: 0 12px 12px 0; /* Rounded corners on the top right and bottom right side */
  z-index: 1;
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#Home {
  top: 22px;
  background-color: #000099;
  width: 150px;
  left: -83px;
}

#Stats-and-Achievements {
  top: 95px;
  background-color: #003399;
  width: 367px;
  left: -300px;
}

#His-rise-to-fame {
  top: 170px;
  background-color: #006699;
  width: 267px;
  left: -200px;
}

#Fun-Facts {
  top: 245px;
  background-color: #009999;
  width: 200px;
  left: -133px;

}
#See-him-in-action {
  top: 320px;
  background-color: #00CC99;
  width: 287px;
  left: -220px;
}
#Credits {
  top: 395px;
  background-color: #00FF99;
  width: 167px;
  left: -100px;
}

.bg-image {
  /* Full height */
  height: 100%;  
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Images used */
.img1 { 
background-image: url("images/dunk.gif"); 
filter: grayscale(100%);
}
.img2 {
background-image: url("images/stats.jpg"); 
}
.img3 {
background-image: url("images/fame.jpg"); 
}
.img4 {
background-image: url("images/facts.jpg"); 
}
.img5 {
background-image: url("images/SeeAction.jpg"); 
}	
.img6 {
background-image: url("images/credits.jpg"); 
}	
/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-family: 'RocknRoll One', sans-serif;
  font-weight: bold;
  font-size: 60px;
  border: 10px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 600px;
  padding: 20px;
  text-align: center;
}
.bg-text2 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
  color: white;
  font-family: 'RocknRoll One', sans-serif;
  font-weight: bold;
  font-size: 60px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 600px;
  padding: 20px;
  text-align: right;
}
#myBtn {
  display: show; /* Show by default */
  position: absolute; /* Absolute position */
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99; /* Make sure it does not overlap */
  border: 3px solid white;
  border-radius: 5px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
}

#myBtn:hover {
  background-color: black; /* Add a dark-grey background on hover */
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  background-color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Main column */
.main {
  flex: 100%;
  background-color: black;
  padding: 20px;
}
p {
  color: white;
  font-family: Roboto Slab;
  text-align: center;
}
p5 {
	font-size: 20pt;
	text-align: left;
	color: white;
    font-family: Roboto Slab;
	margin-left: 30%
}
.p2 {
  color: white;
  font-family: Roboto Slab;
  text-align: left;
  font-size: 30pt;
  padding-top: 6%;
  padding-bottom: 6%;
}
.p3 {
  color: white;
  font-family: Roboto Slab;
  text-align: left;
  font-size: 30pt;
  padding-top: 15%;
  
}
.p4 {
  position: absolute;
  color: white;
  font-family: Roboto Slab;
  text-align: left;
  font-size: 30pt;
  padding-top: 15%;
}
p6 {
	color: white;
	text-align: center;
	font-family: Roboto Slab;
}

h4 {
	color: white;
	text-align: center;
	font-family: Roboto Slab;
}

h3 {
	text-align: left;
	color: white;
}
h2 {
	text-align: center;
	font-size: 35pt;
	font-family: Roboto Slab;
	color: white;
	background: linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr	{
	border-width: 2px;
	width: 300px; 
}

/* textbox with border */
.textbox {
  background-color: black;
  color: white;
  font-family: Roboto Slab;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  border: 5px solid white;
  left: 50%;
  right: 50%;
}
.textbox2 {
  background-color: black;
  color: white;
  font-family: Roboto Slab;
  text-align: center;
  border-right: 5px solid white; 
  font-size: 18pt; 
  border-color: white;
  padding: 20px;
}
.textbox3 {
  background-color: black;
  color: white;
  font-family: Roboto Slab;
  text-align: center;
  border-left: 5px solid white;
  width: 320px;  
  font-size: 18pt; 
  border-color: white;
  padding: 20px;
}
.textbox4 {
  background-color: black;
  color: white;
  font-family: Roboto Slab;
  border-left: 5px solid white;
  width: 320px;  
  font-size: 18pt; 
  border-color: white;
  padding: 22px;
}
.textbox5 {
  background-color: black;
  color: white;
  font-family: Roboto Slab;
  text-align: right;
  border-right: 5px solid white;
  width: 320px;  
  font-size: 18pt; 
  border-color: white;
  padding: 21px;
}
.textbox6 {
  background-color: black;
  color: white;
  font-family: Roboto Slab;
  border-left: 5px solid white;
  width: 320px;  
  font-size: 18pt; 
  border-color: white;
  padding: 23px;
}
.textbox7 {
  background-color: black;
  color: white;
  font-family: Roboto Slab;
  text-align: right;
  border-right: 5px solid white;
  width: 320px;  
  border-color: white;
  padding-left: 25px;
}
.textbox8 {
  background-color: black;
  color: white;
  font-family: Roboto Slab;
  text-align: right;
  border-right: 5px solid white;
  width: 320px;  
  border-color: white;
}
.textbox9 {
  background-color: black;
  color: white;
  font-family: Roboto Slab;
  text-align: left;
  width: 80%; 
  font-size: 18pt;  
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 50px;
}
#KDshoot {
	width: 450px;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
}
#KDprof {
	width: 450px;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
}
#KDHome {
	width: 80%;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
}
#KD1 {
	width: 85%;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
}
#splash {
	width: 100%;
	height: 120%;
	margin: 0px;
	display: block;
    margin-left: 0;
    margin-right: auto;
	opacity: 0.5;
}
#MRNBA {
	width: 71%;
	border-radius: 50%;
	border: 5px solid white;
}
#legend {
	width: 73%;
	border-radius: 50%;
	border: 5px solid white;
}
#yellow {
	width: 73%;
	border-radius: 50%;
	border: 5px solid white;
}
#OKC {
	width: 73%;
	border-radius: 50%;
	border: 5px solid white;
}
#GSW {
	width: 73%;
	border-radius: 50%;
	border: 5px solid white;
}
#Nets {
	width: 73%;
	border-radius: 50%;
	border: 5px solid white;
}
#KDearly {
	width: 60%;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
	margin-left: 30%
}
#KDearly2 {
	width: 60%;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
	margin-right: 30%
}
#KDcollege {
	width: 80%;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
	margin-left: 10%;
}
#KDcollege2 {
	width: 80%;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
	margin-left: 1.5%;
}
#KDcollege3 {
	width: 80%;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
	margin-right: 10%;
}
#KDprofess {
	width: 80%;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
	margin-left: 10%;
}
#KDprofess2 {
	width: 80%;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
	margin-left: 1.5%;
}
#KDprofess3 {
	width: 80%;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid white;
	margin-right: 10%;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.flex-container > div {
  background-color: black;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Rock Salt', cursive;
  font-size: 35pt;  
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imgcontainer {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  opacity: 0.9;
  overflow: hidden;
  width: 170%;
  height:0;
  transition: .5s ease;
  border-radius: 15%;
  line-height: 30px;
}

.imgcontainer:hover .overlay {
  bottom: 0;
  height: 100%;
}

.imgtext {
  color: white;
  font-size: 20px;
  font-family: Roboto Slab;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.Allstar {
	border-radius: 15%;
	border: 6px solid grey;
	margin-bottom: 5%;
	display: block;
    width: 170%;
    height: auto;
}
.MVP {
	border-radius: 15%;
	border: 6px solid grey;
	display: block;
    width: 170%;
    height: auto;
}
.champ {
	border-radius: 15%;
	border: 6px solid grey;
	display: block;
    width: 170%;
    height: auto;
}
.MVPfinal {
	border-radius: 15%;
	border: 6px solid grey;
	display: block;
    width: 170%;
    height: auto;
}
.NBAMVP {
	border-radius: 15%;
	border: 6px solid grey;
	display: block;
    width: 170%;
    height: auto;
}
.Rookie {
	border-radius: 15%;
	border: 6px solid grey;
	display: block;
    width: 170%;
    height: auto;
}
.AllNBA {
	border-radius: 15%;
	border: 6px solid grey;
	display: block;
    width: 170%;
    height: auto;
}	
.AllRookie {
	border-radius: 15%;
	border: 6px solid grey;
	display: block;
    width: 170%;
    height: auto;
}	
.ScoreChamp {
	border-radius: 15%;
	border: 6px solid grey;
	display: block;
    width: 170%;
    height: auto;
}
.FIBAMVP {
	border-radius: 15%;
	border: 6px solid grey;
	display: block;
    width: 170%;
    height: auto;
}
.USAATHLETE {
	border-radius: 15%;
	border: 6px solid grey;
	display: block;
    width: 170%;
    height: auto;
}
.BIG12 {
	border-radius: 15%;
	border: 6px solid grey;
	display: block;
    width: 170%;
    height: auto;
}
/* Footer */
.footer {
  width: 100%;
  height: 150px;
  text-align: center;
  background: #575757;
  border-radius: 70px 70px 0px 0px;
  font-size: 40px;
  padding-top: 2%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  width: 80px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 80px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-google {
  background: #dd4b39;
  color: white;
  width: 80px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  width: 80px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
  width: 80px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
  width: 80px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 80px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-reddit {
  background: #ff5700;
  color: white;
  width: 80px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.row2 {
  margin: 5px -5px;
}

/* Add padding BETWEEN each column */
.row2,
.row2 > .column {
  padding: 25px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 15px;
  border-radius: 20px 20px 20px 20px;
  border: 5px solid white;
  text-align: center;
  height: 600px;
  font-size: 15pt;
}
/* Image gallery: the grid: Four equal columns that floats next to each other */
.column2 {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column2 img {
  opacity: 0.7; 
  cursor: pointer; 
  border-radius: 20px 20px 20px 20px;
  border: 5px solid white;
}

.column2 img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row3:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container2 {
  position: relative;
  display: none;
 
}

/* Expanding image text */
#img2text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 25px;
  border-radius: 20px 20px 20px 20px;
  background-color: grey;
  padding: 10px;
  font-family: Roboto Slab;
}
#expandedImg {
  border-radius: 20px 20px 20px 20px;
  border: 5px solid white;
}

/* Closable button inside the expanded image */
.closebtn2 {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}
.closebtn2:hover {
  background-color: grey; /* Add a grey background on hover */
}
.p10 {
	text-align: center;
	color: white;
	font-size: 18pt;
	font-family: Roboto Slab;
}
#Creator {
	border-radius: 10%;
	border: 5px solid white;
	width: 60%;
}
#NOTKD {
	border-radius: 10%;
	border: 5px solid white;
	width: 80%;
}

